.load-car .CircularProgressbar .CircularProgressbar-path {
  stroke: url("#car") !important;
}
.load-satisfaction .CircularProgressbar .CircularProgressbar-path {
  stroke: url("#satisfaction") !important;
}
.load-referral .CircularProgressbar .CircularProgressbar-path {
  stroke: url("#referral") !important;
}
